@import url('https://fonts.googleapis.com/css2?family=Ropa+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Ropa Sans', sans-serif;
}

.Cabeçalho {
    position: absolute;
    width: 100%;
    height: 11%;
    background-color: white;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.25);;
}

.Logo h1 {
    position: absolute;
width: 63px;
height: 90px;
margin-top: 1.7%;
margin-left: 10%;

font-style: normal;
font-weight: normal;
font-size: 43px;
line-height: 30px;

text-transform: uppercase;

color: #777777;
}

.Logo h2 {
    position: absolute;
   margin-left: 15.7%;
   margin-top: 1.5%;
   font-weight: normal;
   font-size: 16px;
   

   font-style: normal;
   color: #AAAAAA;

}

.Menu img {
    margin-left: 89%;
    height: 18px;
    margin-top: 2%;
}

.Img1 img {
    width: 80%;
    margin-left: 10%;
    margin-top: 7.5%;
    
}

.BotaoEsquerda img {
    
    display: flex;
    width: 4.5%;
    margin-top: -18%;
    margin-left: 11.5% ;
}

.SetaEsq img {
    display: flex;
    margin-left: 12.8%;
    margin-top: -3.4%;
    width: 1.5%;
}


.BotaoDireita img {
    
    display: flex;
    width: 4.5%;
    margin-top: -4.5%;
    margin-left: 83.5%;
}

.SetaDir img {
    display: flex;
    width: 1.5%;
    margin-top: -3.5%;
    margin-left:85.2%;
}

.Img2 img {
    float: left;
    width: 35%;
    margin-top: 18.5%;
    margin-left: 10%;
    
}

.Img3 img {
    
    width: 35%;
    margin-left: 55%;
    margin-top: 18.5%;
    display: flex;
    
}

.TittleImg2 {
    background-color: #dad8d8;
    position: absolute;
    height: 30%;
    width: 35%;
    margin-left: 10%;
} 

.TittleImg2 h2 {
    position: absolute;
    font-weight: 400;
    font-size: 40px;
    line-height: 27px;
    margin-top: 4%;
    margin-left: 3%;
    

    color: #888888;
}

.TittleImg2 img {
    position: absolute;
    margin-left: 78%;
    margin-top: 4%;
    width: 18%;
    
}

.TittleImg2 h3 {
    position: absolute;
    margin-left: 82%;
    margin-top: 5.7%;
    font-weight: 400;
    font-size: 30px;
    line-height: 21px;
    color: white;
    
}

.TittleImg2 p {
    margin-left: 9%;
    margin-top: 18%;
    height: 10px;
    width: 85%;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    color: #555555;
}

.TittleImg3 {
    background-color: #dad8d8;
    position: absolute;
    width: 35%;
    height: 30%;
    margin-left: 55%;
}

.TittleImg3 h2 {
    position: absolute;
    font-weight: 400;
    font-size: 40px;
    line-height: 27px;
    margin-top: 4%;
    margin-left: 3%;
    color: #888888;

}

.TittleImg3 img {
    position: absolute;
    margin-left: 78%;
    margin-top: 4%;
    width: 18%;
    
}

.TittleImg3 h3 {
    position: absolute;
    margin-left: 82%;
    margin-top: 5.7%;
    font-weight: 400;
    font-size: 30px;
    line-height: 21px;
    color: white;
}

.TittleImg3 p {
    margin-left: 9%;
    margin-top: 18%;
    height: 10px;
    width: 85%;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    color: #555555;
}

.styles {
    background-color: rgb(255, 255, 255);
    position: absolute;
    width: 100%;
    height: 50%;
    margin-top: 14%;

}


.styles h2 {
    position: absolute;
    color: #888888;
    
    font-weight: 400;
    font-size: 50px;
    line-height: 24px;
    
    margin-left: 44%;
    margin-top: 18%;
} 







    




    
    
    
    
    
    
